body {
    margin: 0;
    background-image: url(../images/img19.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    padding: 15px;
    font-size: 25px; 

}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 15px;
}

.nav-link {
    text-decoration: none;
    color: #f5f3f2;
    font-weight: bold;
    text-decoration: none;
    font-weight: bold;

}

.nav-link:hover {
    color: #007bff; 
}


main {
    flex: 1; 
}

footer {
    padding: 15px;
    text-align: center;
    color:white;
    font-size: 25px; 
}
