body{
 background-image: url(../images/img11.jpg);
}

body {
    margin: 0;
    background-image: url(../images/img11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #000;
}


.navbar {
    padding: 15px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 15px;
}

.nav-link {
    text-decoration: none;
    color: #f5f3f2;
    font-weight: bold;
    /* transition: color 0.3s ease; */
}

.nav-link:hover {
    color: #007bff; 
}
